<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
    
    <div class="board_list_wrap">
        <table class="board_list">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성일</th>
                    <th>조회</th>
                    <th>추천</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....근데 눈물이...</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">웹개발 쉽네....</a></td>
                    <td>육성민</td>
                    <td>2022/10/31</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
        <div class="paging">
            <a href="#" class="bt">첫 페이지로 이동</a>
            <a href="#" class="bt">이전 페이지로 이동</a>
            <a href="#" class="num">1</a>
            <a href="#" class="num">2</a>
            <a href="#" class="num">3</a>
            <a href="#" class="num">4</a>
            <a href="#" class="num on">5</a>
            <a href="#" class="num">6</a>
            <a href="#" class="num">7</a>
            <a href="#" class="num">8</a>
            <a href="#" class="num">9</a>
            <a href="#" class="num">10</a>
            <a href="#" class="bt">다음 페이지로 이동</a>
            <a href="#" class="bt">끝 페이지로 이동</a>
        </div>
    </div>
</body>
</html>